    {{>header}}


    <div class="section hero-full-height over-hide">
        <div id="poster_background"></div>
        <div id="video-wrap" class="parallax-top">
            <img data-src="/img/dolina_geyzerov/dolina_geyz.jpg" alt="" class="img img-responsive">
        </div>
        <div class="dark-over-video"></div>

        <div class="hero-center-section ver-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 parallax-fade-top">
                        <div id="title-text" class="hero-text-ver-2">Долина гейзеров<br>Камчатка</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="black-place section background-dark z-too-big">
        <span class="menu-el active-menu-el" id="info">Информация</span>
        <span class="menu-el" id="costs">Цены</span>
        <span class="menu-el" id="photo">Фотографии</span>
    </div>

    <div class="section content">


        <div id="background-sec-geyzer">
            <div class="sec-inner">
                <div id="infoText" class="active">
                    <p>
                        Долина гейзеров, одно из наиболее крупных гейзерных полей мира и единственное в Евразии, расположена на Камчатке в Кроноцком государственном биосферном заповеднике, который находится в списке всемирного наследия ЮНЕСКО в составе природного комплекса «Вулканы Камчатки».
                        <p>
                            Долина представляет собой глубокий каньон реки Гейзерной, в бортах которого на площади около 6 кв. км находятся многочисленные выходы гейзеров, горячих источников, грязевые котлы, термальные площадки, водопады и озёра. На этой, территории наблюдается аномально высокое биоразнообразие и высокая контрастность природных условий и микроклимата. Экосистема Долины гейзеров уникальна для всей страны. На территории долины действует заповедный режим.
                        </p>
                        <p>
                            С 1992 года сюда, по договору с заповедником, организовываются вертолётные экскурсии, действует строгая система правил по организации экскурсий в целях сохранения равновесия экосистемы. В 2008 году по результатам голосования Долина Гейзеров вошла в список семи чудес России.
                        </p>
                        <p>
                        <h3 class='text-center'>Погода на месте:</h3>
                        {{location}} <br>
                        {{weather}}
                    </p>
                </div>

                <div id="costsText" class="non-active">
                    <!--           ___________ ЦЕНЫ-->
                    <dl>
                        <dt><a target="_blank" class="link" href="https://pro-adventure.ru">Pro Adventure </a></dt>
                        <br><br>
                        <dd>Стоимость в 2019 году: <br>

                            <p>42000 рублей за человека</p>
                            <p>ВКЛЮЧЕНО</p>
                            <ul>
                                <li>Питание Горячий обед «Стандарт» (ассорти мясное: колбаса копченая, ветчина, ассорти рыбное, салат «Летний» овощной, рыба, запеченная с овощами, рис отварной, хлеб, майонез, горчица, чай, кофе, сок, бутилированная вода, сладкий десерт)</li>
                                <li>Трансфер От гостиниц "Авача", "Гейзер", "Петропавловск" и Паратунки</li>
                                <li>Пешеходная экскурсия по Долине гейзеров 1,5 часа</li>
                                <li>Пешеходная экскурсия в кальдере вулкана Узон 50 минут</li>
                                <li>Купание в горячих источниках</li>
                                <li>Сопровождение квалифицированным гидом-экскурсоводом</li>
                            </ul>
                            <a target="_blank" href="https://pro-adventure.ru/tours/id_1299_vertoletnaya-ekskursiya-v-dolinu-gejzerov"><button type="button" class="btn btn-info">Подробнее</button></a>
                        </dd>
                        <br>
                        <dt>
                            <a target="_blank" class="link" href="http://ist-travel.ru">Туроператор "IST Travel"</a>
                        </dt>
                        <br><br>
                        <dd>
                           <p>Стоимость: 44 000 руб. (при оплате до 30.04 - 42000 руб.)</p>
                            <ul>
                                <li>Трансфер из гостиницы в аэропорт</li>
                                <li>ылет из аэропорта, облет действующих вулканов Карымский и Малый Семячик (летное время — 1 ч. 10 мин.).</li>
                                <li>Экскурсия в Долине гейзеров (1 ч. 30 мин.). Наблюдение за извержением гейзеров, осмотр грязевых котлов и пульсирующих источников Долины.</li>
                                <li>Перелет в кальдеру вулкана Узон (10 мин.).</li>
                                <li>Экскурсия в кальдере вулкана Узон (1 час). Осмотр фумарольных полей, кислотных и горячих озер, грязевых котлов и вулканчиков Восточного термального поля кальдеры.</li>
                                <li>Перелет до Налычевской долины. Обед. Купание в диких горячих источниках Налычевской долины (1 час).</li>
                                <li>Возвращение в аэропорт (20 мин.).</li>
                                <li>Трансфер в гостиницу</li>
                            </ul>
                            <a target="_blank" href="http://ist-travel.ru/tours/excursion/dolina-gejzerov-uzon.html"><button type="button" class="btn btn-info">Подробнее</button></a>
                        </dd>
                    </dl>

                </div>

                <div id="photoText" class="non-active">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" data-src="/img/dolina_geyzerov/dolina_geyzerov_pic1.gif" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" data-src="/img/dolina_geyzerov/dolina_geyzerov_pic2.gif" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" data-src="/img/dolina_geyzerov/dolina_geyzerov_pic3.gif" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" data-src="/img/dolina_geyzerov/dolina_geyzerov_pic4.gif" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" data-src="/img/dolina_geyzerov/dolina_geyzerov_pic5.gif" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" data-src="/img/dolina_geyzerov/dolina_geyzerov_pic6.gif" alt="Second slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1192948.6388454942!2d159.04328714503828!3d54.2689700837534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x591d2e921216d459%3A0x9c1eeb798f6460b5!2z0JTQvtC70LjQvdCwINCz0LXQudC30LXRgNC-0LI!5e0!3m2!1sru!2sru!4v1557639916705!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    {{>footer}}
