    {{>header}}

    <div class="section hero-full-height over-hide">

    <div id="poster_background"></div>
    <div id="video-wrap" class="parallax-top">
            <img data-src="img/help.gif" alt="" class="img img-responsive">
    </div>
    <div class="dark-over-video"></div>

    <div class="hero-center-section ver-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div id="title-text" class="hero-text-ver-2">Добро<br>пожаловать!</div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="index-black-place" class="black-place section background-dark z-too-big">
    </div>
        <div class="section content-help">

        <div id="test1" class="active">
            <p>Какое у вас настроение?</p>
            <label><input id="happy" value="happy" name="qu1" type="radio"> Я весел!</label> <br>
            <label><input id="calm" value="calm" name="qu1" type="radio"> Я спокоен.</label> <br>
            <label><input id="sad" value="sad" name="qu1" type="radio"> Я немного грущу.</label> <br>
            <label><input id="depression" value="depression" name="qu1" type="radio"> Я в депрессии.</label>
        </div>
        <div id="test2" class="non-active">
            <p>Чего вы ждёте от экскурсии?</p>
            <label><input id="relax" value="relax" name="qu2" type="radio"> Хочу расслабиться.</label> <br>
            <label><input id="walk" value="walk" name="qu2" type="radio"> Хочу много ходить.</label> <br> 
            <label><input id="extreme" value="extreme" name="qu2" type="radio"> Хочу экстрима!</label> <br>
            <label><input id="nothing" value="nothing" name="qu2" type="radio"> Ничего не хочу.</label>
        </div>

        <div id="lenskie" class="non-active">
                <h1>Рекомендуем вам <a href="/lenskie">Ленские Столбы</a></h1>
        </div>
        <div id="geyzer" class="non-active">
                <h1>Рекомендуем вам <a href="/geyzer">Долина Гейзеров</a></h1>
        </div>
        <div id="baikal" class="non-active">
                <h1>Рекомендуем вам <a href="/baikal">Озеро Байкал</a></h1>
        </div>
        <div id="put" class="non-active">
                <h1>Рекомендуем вам <a href="/plato">Плато Путорана</a></h1>
        </div>
        <div id="elbrus" class="non-active">
                <h1>Рекомендуем вам <a href="/elbrus">Эльбрус</a></h1>
        </div>
        <div id="altai" class="non-active">
                <h1>Рекомендуем вам <a href="/altai">Алтайские горы</a></h1>
        </div>
    </div>
    
    {{>footer}}
