    {{>header}}
    
    <div class="section hero-full-height over-hide">

        <div id="poster_background"></div>
        <div id="video-wrap" class="parallax-top">
            <video id="video_background" preload="auto" autoplay loop="loop" muted="muted" poster="img/trans.png">
                <source src="video/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="dark-over-video"></div>

        <div class="hero-center-section ver-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 parallax-fade-top">
                        <div id="title-text" class="hero-text-ver-2">Помощник по отдыху</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="index-black-place" class="black-place section background-dark z-too-big">
    </div>

    <div class="section">

    </div>

    <!-- БЛОК МЕСТ ДЛЯ ПОСЕЩЕНИЯ -->
    <div class="row pop">
        <ul class="grid cs-style-1">
            <li>
                <a href="/lenskie">
                    <figure>
                        <img data-src="img/lenskie/stolbik.jpg" alt="img01">
                        <figcaption>
                            <h3>Якутия</h3>
                            <span>Ленские столбы</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="/geyzer">
                    <figure>
                        <img data-src="img/dolina_geyzerov/499.jpg" alt="img01">
                        <figcaption>
                            <h3>Камчатка</h3>
                            <span>Долина Гейзеров</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="/baikal">
                    <figure>
                        <img data-src="img/baikal/tmb_155603_1576.jpg" alt="img01">
                        <figcaption>
                            <h3>Восточная Сибирь</h3>
                            <span>Озеро Байкал</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="/plato">
                    <figure>
                        <img data-src="img/plato_putorana/Putorano.jpg" alt="img01">
                        <figcaption>
                            <h3>Красноярский край</h3>
                            <span>Плато Путорана</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="/elbrus">
                    <figure>
                        <img data-src="img/elbrus/hero-elbrus.png" alt="img01">
                        <figcaption>
                            <h3>Кабардино-Балкария</h3>
                            <span>Эльбрус</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="/altai">
                    <figure>
                        <img data-src="img/altai/visit-altai-mountain2.png" alt="img01">
                        <figcaption>
                            <h3>Республика Алтай</h3>
                            <span>Алтайские горы</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </div>
    <!-- ФУТЕР -->

    {{>footer}}
