    {{>header}}

    <div class="section hero-full-height1 over-hide">
        <div id="poster_background"></div>
        <div id="video-wrap" class="parallax-top">
            <img id="hero-img" data-src="img/info_mobile.jpg" alt="" class="img img-responsive">
        </div>
        <div class="dark-over-video"></div>

        <div class="hero-center-section ver-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 parallax-fade-top">
                        <div id="title-text" class="hero-text-ver-2">Общая информация</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="index-black-place" class="black-place section background-dark z-too-big">
    </div>
    
    <h1>Осторожно! Дальше идёт скучный текст...</h1>

        <p>Привет, мы, Паша и Ренат, сделали этот сайт, как наш итоговый проект курса "Web-Development" от учебной организации ИСТРА.</p>
        <p>Давайте обсудим нашу своеобразную команду. Итак, <br> Ренат </p>
            <ul>
                <li>16 лет</li>
                <li>Увлекается программированием и разработкой сайтов.</li>
            </ul>
            <p> Павел</p>
            <ul>
                <li>14 лет</li>
                <li>Имеет муравьиную ферму и ещё рыжий.</li>
            </ul>
        <p>
            Хотим выразить свою благодарность за ваше нахождение на этом сайте.
            </p>

    {{>footer}}