<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/reglog.css" media="screen" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- vladmaxi top bar -->
    <div class="vladmaxi-top">
        <a href="/">Главная</a>
    <div class="clr"></div>
    </div>
<!--/ vladmaxi top bar -->

    <div id="login-form">
      <h1>АВТОРИЗАЦИЯ</h1>
        <fieldset>
            <form action="javascript:void(0);" method="post">
                <input type="text" required placeholder="Имя" > 
                <input type="email" required placeholder="Email" > 
                <input type="password" required placeholder="Пароль"> 
                <input type="password" required placeholder="Повторите пароль"> 
                <input type="submit" value="ВОЙТИ">
            </form>
        </fieldset>
    </div> 
</body>
</html>