<div class="section py-4 background-dark over-hide footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-2 mb-md-0 color-white">
                    <p>2019 © Паша и Ренат. Все права сохранены.</p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <a target="_blank" href="https://vk.com/isas2g2" class="social-footer-bottom">vkontakte_Renat</a>
                    <a target="_blank" href="https://vk.com/id367251298" class="social-footer-bottom">vkontakte_Pavel</a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCFyJLrmY4P1DJUO7cnTrVXQ?view_as=subscriber" class="social-footer-bottom">youtube</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="scroll-to-top"></div>
    
    <!--    SCRIPTS-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/reveal-home.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/menu_opener.js"></script>
    <script src="js/help.js"></script>
</body>

</html>