<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" lang="ru">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Помощник для путешествий" />
    <title>{{title}}</title>
    <!--    STYLES-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/datepicker.css" />
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/owl.transitions.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/colors/color.css" />
    <link rel="stylesheet" href="/css/for_pages.min.css" />
    <link rel="stylesheet" href="/css/help.css" />
    <link rel="stylesheet" href="/css/info.css" />
    
    <!-- Mobile Specific Metas
	================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#212121" />
    <meta name="msapplication-navbutton-color" content="#212121" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121" />

    <link rel="icon" type="image/png" href="/img/logo.png">
</head>

<body>
    <div class="loader">
        <div class="loader__figure"></div>
    </div>

    <svg class="hidden">
        <svg id="icon-nav" viewBox="0 0 152 63">
            <title>navarrow</title>
            <path d="M115.737 29L92.77 6.283c-.932-.92-1.21-2.84-.617-4.281.594-1.443 1.837-1.862 2.765-.953l28.429 28.116c.574.57.925 1.557.925 2.619 0 1.06-.351 2.046-.925 2.616l-28.43 28.114c-.336.327-.707.486-1.074.486-.659 0-1.307-.509-1.69-1.437-.593-1.442-.315-3.362.617-4.284L115.299 35H3.442C2.032 35 .89 33.656.89 32c0-1.658 1.143-3 2.552-3H115.737z" />
        </svg>
    </svg>
    
<nav id="menu-wrap" class="menu-back cbp-af-header">
        <div class="menu-top background-black">
        </div>
            <div class="logo">
                <a href="/"><img data-src="img/logo.png" alt=""></a>
            </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/info">О нас</a>
                </li>
                <li>
                    <a href="/help">Помощь с выбором</a>
                </li>
                
            </ul>
        </div>
</nav>